<div class="picture">
  <%= image_tag @picture.public_path %>
</div>

<div class="comments">
  <h2>Comments</h2>
  <%= render 'comments/comments', comments: @picture.comments %>

  <%= render 'comments/form', picture: @picture, comment: @comment %>
</div>
